/* IMG_1895 1

position: absolute;
width: 467px;
height: 1014px;
left: -14px;
top: -12px;

background: url(IMG_1895.png);
border-radius: 33px; */

html,body {
    height: 100%;
    margin: 0%;
}
/* 
body{
    background-image: url("../images/IMG_1895.jpg"); /* Makes the background the image 
    background-repeat: no-repeat;       /* Prevents image repetition 
    background-attachment: fixed;       /* Fixes the background image 
    background-size: cover;         /* Scale the image to cover the entire viewport 
    background-position: center center;     /* Center the image horizontally and vertically 
    position: absolute;
    width: 467px;
    height: 1014px;
    left: -14px;
    top: -12px;
    border-radius: 33px;
    z-index: 1;
}
*/


/* image 1 */
.image_container{
position: absolute;
left: 280px;
top: 530px;
z-index: 2;

}